  <div>
    <button ng-click="play('rock')">Rock</button>
    <button ng-click="play('paper')">Paper</button>
    <button ng-click="play('scissors')">Scissors</button>
  </div>
  <br>
  <br>
  <div>
    {{ message }}
  </div>
  <br>
  <br>
  <div>
    <table>
      <tr>
        <td>player</td>
        <td>computer</td>
      </tr>
      <tr>
        <td>{{ player }}</td>
        <td>{{ computer}}</td>
      </tr>
    </table>
    <br>
    <br>
    <button ng-click="resetScore()">Reset Score</button>
  </div>
